.container{
      /* background-color: #eee; */
      padding: 1em;
      /* padding-left: 5em; */
      /* margin-top: 1em; */
}
.inputr{
      width: 500px;
      height: 30px;
}
.container input {
      cursor: text;
      margin: 0em;
      font: 400 13.3333px Arial;
      padding: 1px 2px;
      border-width: 2px;
      border-style: inset;
      border-image: initial;
      width: 500px;
      height: 33px;
      font-size: 20px;
      display: flex;
      flex-direction: row;
      float: left;   
  }
  /* .container button {
      margin: 0em;
      padding:0%;
      border-width: 2px;
      width: 120px;
      height: 36px;
      font-size: 24px;
      display: inline;
  } */
